.home-widgets .widget {
    text-align: left !important;
}
.entry-content code{
color: #2e2f33 !important;
}

/*** eStore Plugin Related ***/
.eStore_variation {
width: auto !important;
}
.eStore-product-name{
font-size: 18px !important;
}

/*** Nice Pre/code box ***/
pre{
background: #333;
color: #ccc;
overflow: scroll;
padding: 0 20px;
white-space: pre;
font-family: monospace,serif;
font-size: 1em;
}

/*** Nice message box ***/
.custom-green-box{background: none repeat scroll 0 0 #DFF7DD;color: #324531;border: 1px solid #F1F9F0;box-shadow: 0 0 45px #CBE5C9 inset;margin: 10px 0;padding: 15px;}
.custom_yellow_box {background: #FFF6D5;border: 1px solid #D1B655;color: #3F2502;margin: 10px 0px;padding: 15px;text-shadow: 1px 1px #FFFFFF;}
.custom_blue_box {background: #D7E7F5;border: 1px solid #AACEE6;color: #333333;margin: 10px 0px;padding: 15px;}
.custom_dark_blue_box{background-color: #005589; margin: 10px 0; padding: 10px 15px; color:white;}
.custom_grey_blue_round_box{background: none repeat scroll 0 0 #F8F8F8;border: 5px solid #6D92A8;border-radius: 10px;color: #333; margin: 10px 0;padding:15px; position: relative;}

